.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row {
    justify-content: center;
    max-width: 500px;
}
.col {
    display: flex;
    flex-direction: row;
    
}
.albumTitle {
    margin-bottom: 15px;
}
.albumImg {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.album {
    border: 1px solid rgba(61, 53, 53, 0.8);;
    background-color: rgba(107, 97, 97, 0.35);
    margin: 40px;
    padding: 15px;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
}
.addAlbums {
    margin-bottom: 20px;
}
.albums {
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


