.form-label {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.form-control {
    margin-bottom: 20px;
    max-width: 350px;
}
.albums-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

input {
    margin-bottom: 15px;
}
.photos-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
}
.modal-body {
    display: flex;
    justify-content: center;
}
.btn-secondary {
    margin-bottom: 30px;
    max-width: 300px;
}
