body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
button {
    min-width: 80px;
    min-height: 40px;
    margin: 5px;
}
body h1, h3, h4, p{
    color: rgb(250, 248, 248);
}
body a {
    text-decoration: none;
    color: rgb(243, 241, 236);
}
span {
    color: rgb(250, 248, 248);
    font-size: 22px;
}
body a:hover {
    color: rgb(243, 241, 236);
    opacity:60%;
}
